<Page loaded="loaded" height="45%" width="90%">
   <StackLayout class="modal-view-style modal"  verticalAlignment="top" >
   <FlexboxLayout justifyContent="space-between">
	<Image src="" width="20" height="20" ></Image>
	<Image src="" width="20" height="20" ></Image>
	<Image src="res://x_grey" width="40" height="30" style="margin: 10;"(tap)="close()" ></Image>
	</FlexboxLayout>

	<FlexboxLayout>
	<label text="How do I change the reminder time to track my data or practice mindfulness? " textWrap="true"  class="faqTextBold"></label>
	</FlexboxLayout>

  <FlexboxLayout>
  <label text="1.Click on the menu button (top right). " textWrap="true"  class="faqText"></label>
  </FlexboxLayout>

  <FlexboxLayout>
  <label text="2.Go to settings. " textWrap="true" class="faqText"></label>
  </FlexboxLayout>
  <FlexboxLayout>
  <label text="3.Scroll down to Notification Settings. " textWrap="true"  class="faqText"></label>
  </FlexboxLayout>
  <FlexboxLayout>
  <label text="4.Click on the reminder times and edit away. " textWrap="true"  class="faqText"></label>
  </FlexboxLayout>
  
  


   </StackLayout>
   </Page>