<ScrollView>
  <StackLayout>
    <FlexboxLayout justifyContent="space-between">
      <Image src="res://back" width="30" height="30" style="margin-left: 20; margin-top: 20" [nsRouterLink]="['/home/dashboard']"></Image>
      <label text="Premium Subscription" style="font-size: 30;color: #005f86; margin-top: 10"></label>
      <Image src="" width="20" height="25"></Image>
    </FlexboxLayout>
   <!--  <FlexboxLayout style="margin-top: 10;" justifyContent="center">
      <Button text="Upgrade Now" class="btnRefer"></Button>
    </FlexboxLayout> -->
    <FlexboxLayout justifyContent="center" style="margin-top: 40">
      <label text="Here's what you get ..." textWrap="true" class="premiumTextBold"></label>
    </FlexboxLayout>
    <FlexboxLayout justifyContent="center">
      <Image src="res://headset_grey" width="50" height="50"></Image>
    </FlexboxLayout>
    <FlexboxLayout justifyContent="center">
      <label text="Full Mindfulness Library Access" textWrap="true" class="premiumTextBold"></label>
    </FlexboxLayout>
    <FlexboxLayout justifyContent="center">
      <label text="Listen to the all premium programs and single episodes when you want" textWrap="true" class="premiumText"></label>
    </FlexboxLayout>
    <FlexboxLayout justifyContent="center">
      <Image src="res://build_a_strong_network_blue" width="100" height="100"></Image>
    </FlexboxLayout>
    <FlexboxLayout justifyContent="center">
      <label text="Build a Strong Network" textWrap="true" class="premiumTextBold"></label>
    </FlexboxLayout>
    <FlexboxLayout justifyContent="center">
      <label text="Invite anyone of your choice to be part of your support network in the app so that they will recieve guaidance on how to help you."
        textWrap="true" class="premiumText"></label>
    </FlexboxLayout>
    <FlexboxLayout>
      <Image src="res://curve" height="90" width="100%"></Image>
    </FlexboxLayout>
    <FlexboxLayout justifyContent="center">
      <label text="Export Data on One Click" textWrap="true" class="premiumTextBold"></label>
    </FlexboxLayout>
    <FlexboxLayout justifyContent="center">
      <label text="Download and send your data to anyone in your network." textWrap="true" class="premiumText"></label>
    </FlexboxLayout>
  </StackLayout>
</ScrollView>