<FlexboxLayout class="_layout_">
  <FlexboxLayout class="_hdr_">
    <!-- <Image src="~/images/Icons/Chevron/noun_730214_555555.png" class="_bck"  width="20" height="25" ></Image> -->
    <Image src="res://back"  width="30" height="30" stretch="aspectFill" verticalAlignment="center" [nsRouterLink]="['/home/dashboard']"></Image>
    <FlexboxLayout class="_date">
      <FlexboxLayout class='prev active'>
        <AbsoluteLayout>
          <button (tap)="prevDate()"></button>
          <button class="_border" (tap)="prevDate()"></button>
        </AbsoluteLayout>
      </FlexboxLayout>
      <Label [text]="getDateFormatString(date)"></Label>
      <FlexboxLayout class='next' [class.active]="!disableNextDateBtn">
        <AbsoluteLayout>
          <button (tap)="nextDate()"></button>
          <button (tap)="nextDate()" class="_border"></button>
        </AbsoluteLayout>
      </FlexboxLayout>
    </FlexboxLayout>
    <!-- <Image src="~/images/Icons/playbook/noun_1642507_005f86.png" class="_img"  width="50" height="50"></Image> -->
    <Image src="res://mood_grey" width="30" height="30"></Image>
  </FlexboxLayout>
  <FlexboxLayout class="_cont_">
    
    
<FlexboxLayout orientation="vertical" class="layout">

  <Label text="Mood" class="headingLabel"></Label>

  <Label text="How are you feeling?" class="messagelabel" ></Label>
  
  <StackLayout orientation="horizontal" horizontalAlignment="center" verticleAlignment="center" class="smiley">
    <StackLayout (tap)="selectMood('Awful')">
        <Image src="res://mood_awful_grey"></Image>
        <Label text="Awful" horizontalAlignment="center"></Label>
    </StackLayout>
    <StackLayout (tap)="selectMood('Bad')">
        <Image src="res://mood_bad_grey"></Image>
        <Label text="Bad" horizontalAlignment="center"></Label>
    </StackLayout>
    <StackLayout (tap)="selectMood('Ehhh')">
        <Image src="res://mood_ehh_grey"></Image>
        <Label text="Ehhh" horizontalAlignment="center"></Label>
    </StackLayout>
    <StackLayout (tap)="selectMood('Good')">
        <Image src="res://mood_good_grey"></Image>
        <Label text="Good" horizontalAlignment="center"></Label>
    </StackLayout>
    <StackLayout (tap)="selectMood('Great')">
        <Image src="res://mood_great_grey"></Image>
        <Label text="Great" horizontalAlignment="center"></Label>
    </StackLayout>
  </StackLayout>
  
</FlexboxLayout>
  </FlexboxLayout>
  <StackLayout  orientation="horizontal" horizontalAlignment="center" class="stackWidth actions">
    <StackLayout (tap)="openNote()">
      <Image src="res://notebook_blue"  stretch="aspectFill" horizontalAlignment="center"></Image>
      <Label text="Make A Note" class="trackLabel" horizontalAlignment="center"></Label> 
    </StackLayout>
    <StackLayout (tap)="done()" class="marleft5"> 
      <Image src="res://check_blue" stretch="aspectFill" horizontalAlignment="center"></Image>
      <Label text="Done" class="trackLabel" horizontalAlignment="center"></Label>
    </StackLayout>
  </StackLayout>  
</FlexboxLayout>