.notedialog{
    width:85%;
    height:270;
    background:white;
    border-radius:15;
    border-width:1;
    border-color:#eeeeee;
    margin:5,5,5,5
}

.labelName{
    font-size:20;
    text-align:center;
    width:80%;
    color:#005f86;
    font-weight:600
}

.textarea{
    height:85%
}
