<RadSideDrawer tkExampleTitle tkToggleNavButton [drawerLocation]="currentLocation" (drawerClosing)="onDrawerClosed($event)">
  <StackLayout tkDrawerContent class="sideStackLayout" backgroundColor="#fff" borderLeftWidth="2px" borderColor="#d9d9d9" borderStyle="solid">
    <StackLayout class="sideTitleStackLayout">

    </StackLayout>
      <ScrollView >
        <StackLayout class="sideStackLayout" >
          <FlexboxLayout class="drawerItem" (tap)="navigate('/drawerItems/setting')">
            <!-- <Image src="~/images/Icons/Settings/noun_684338_005f86.png" width="50" height="50"></Image> -->
            <Label [text]="'fa-cog' | fonticon" class="fa" fontSize="38px" style="color:#0B6084;"></Label>
            <Label text="Settings" class="sideLabel"></Label>
          </FlexboxLayout>

          <FlexboxLayout class="drawerItem" [nsRouterLink]="['/drawerItems/resources']">
            <!-- <Image src="~/images/Icons/Resources/noun_518028_005f86.png" width="50" height="50"></Image> -->
            <Image src="res://resource_blue" width="40" height="40"></Image>
            <Label text="Resources" class="sideLabel"></Label>
          </FlexboxLayout>

          <FlexboxLayout class="drawerItem" [nsRouterLink]="['/drawerItems/notification']">
            <!-- <Image src="~/images/Icons/Notifications/noun_1521810_005f86.png" width="50" height="50"></Image> -->
            <Label [text]="'fa-bell' | fonticon" class="fa" fontSize="38px" style="color:#0B6084;"></Label>
            <Label text="Notifications" class="sideLabel"></Label>
          </FlexboxLayout>

          <FlexboxLayout class="drawerItem" [nsRouterLink]="['/drawerItems/premium']">
            <!-- <Image src="~/images/Icons/Premium Upgrade/noun_1349357_005f86.png" width="50" height="50"></Image> -->
            <Image src="res://upgrade_blue" width="40" height="40"></Image>
            <Label text="Premium" class="sideLabel"></Label>
          </FlexboxLayout>

          <FlexboxLayout class="drawerItem" [nsRouterLink]="['/drawerItems/refer']">
            <!-- <Image src="~/images/Icons/Refer a Friend/noun_14634_005f86.png" width="50" height="50"></Image> -->
            <Image src="res://refer_friend_blue" width="40" height="40"></Image>
            <Label text="Refer a friend" class="sideLabel"></Label>
          </FlexboxLayout>

          <FlexboxLayout class="drawerItem" [nsRouterLink]="['/drawerItems/help']">
            <!-- <Image src="~/images/Icons/Help/noun_922772_005f86.png" width="50" height="50"></Image> -->
            <Label [text]="'fa-question-circle' | fonticon" class="fa" fontSize="38px" style="color:#0B6084;"></Label>
            <Label text="App Help" class="sideLabel"></Label>
          </FlexboxLayout>

          <FlexboxLayout class="drawerItem" [nsRouterLink]="['/terms_conditions']">
            <!-- <Image src="~/images/Icons/Terms of Service/noun_1556737_005f86.png" width="50" height="50"></Image> -->
            <Image src="res://terms_service_blue" width="40" height="40"></Image>
            <Label text="Terms of Service" class="sideLabel"></Label>
          </FlexboxLayout>

          <FlexboxLayout class="drawerItem" [nsRouterLink]="['/privacy_policy']">
            <!-- <Image src="~/images/Icons/Privacy Policy/noun_39407_005f86.png" width="50" height="50"></Image> -->
            <Image src="res://privacy_blue" width="40" height="40"></Image>
            <Label text="Privacy Policy" class="sideLabel"></Label>
          </FlexboxLayout>

          <FlexboxLayout class="drawerItem" (tap)="navigate('/auth/signin')">
            <!-- <Image src="~/images/Icons/Logout/noun_1350691_005f86.png" width="50" height="50"></Image> -->
            <Image src="res://logout_blue" width="40" height="40"></Image>
            <Label text="Logout" class="sideLabel"></Label>
          </FlexboxLayout>
        </StackLayout>
      </ScrollView>

    </StackLayout>


    <StackLayout tkMainContent backgroundColor="#f8f8f8">

      <!-- <Button text="OPEN DRAWER" (tap)="openDrawer()" class="drawerContentButton"></Button> -->
      <!-- <FlexboxLayout height="100%" flexDirection="column" class="_hmlayout" width="100%">
            <FlexboxLayout class="_header" flexDirection="column">
                    <FlexboxLayout class="_mn">
                        <Button (tap)="openDrawer()" class="fa icon btn transparent _mn-icon" borderRadius="50em" text="&#xf0c9;"></Button>
                    </FlexboxLayout>
            </FlexboxLayout>
            <FlexboxLayout class="_info">
                <FlexboxLayout class="_usr">[nsRouterLink]="['/drawerItems/setting']"
                    <Label class="fa icon" text="&#xf007;"></Label>
                    <Label class="_txt" text="Kate Smith"></Label>
                </FlexboxLayout>
            </FlexboxLayout>
            <FlexboxLayout flexGrow="1" class="_body">
               <router-outlet></router-outlet>
            </FlexboxLayout>
            <FlexboxLayout zIndex="3" class="_bottom-bar">
                <bottom-tab></bottom-tab>
            </FlexboxLayout>
        </FlexboxLayout> -->

      <DockLayout width="100%" height="100%" stretchLastChild="true" class="_hmlayout"  [class.blur]="isDrawerOpen">
        <FlexboxLayout class="_header" dock='top'>
          <FlexboxLayout class="_ttl">
            <Label [text]="homeUiScope.appBarTitle"></Label>
          </FlexboxLayout>
          <FlexboxLayout class="_mn">
            <Button (tap)="openDrawer()" class="fa icon btn transparent _mn-icon" borderRadius="50em" text="&#xf0c9;"></Button>
          </FlexboxLayout>
        </FlexboxLayout>
        <FlexboxLayout zIndex="3" class="_bottom-bar" dock="bottom">
          <bottom-tab></bottom-tab>
        </FlexboxLayout>
        <FlexboxLayout flexGrow="1" class="_body">
          <router-outlet></router-outlet>
        </FlexboxLayout>
      </DockLayout>

    </StackLayout>
</RadSideDrawer>