<StackLayout class="infoLayout">
  <Image src="res://x_grey"  width="30" height="30" stretch="aspectFill" horizontalAlignment="right"></Image>
  <StackLayout orientation="horizontal">
      <StackLayout>
          <Image src="res://mood_awful_grey" width="40" height="40"></Image>
          <Label text="Awful"></Label>
      </StackLayout>
      <StackLayout>
          <Image src="res://mood_bad_grey" width="40" height="40"></Image>
          <Label text="Bad"></Label>
      </StackLayout>
      <StackLayout>
          <Image src="res://mood_ehh_grey" width="40" height="40"></Image>
          <Label text="Ehhh"></Label>
      </StackLayout>
      <StackLayout>
          <Image src="res://mood_good_grey" width="40" height="40"></Image>
          <Label text="Good"></Label>
      </StackLayout>
      <StackLayout>
          <Image src="res://mood_great_grey" width="40" height="40"></Image>
          <Label text="Great"></Label>
      </StackLayout>
  </StackLayout>
</StackLayout>
