<ScrollView>
 <StackLayout orientation="vertical">

<StackLayout orientation="vertical" style="margin-top:20;" >
     <Image src="res://balance_position_logo"  width="150" height="100" stretch="aspectFill"></Image>
  </StackLayout>

 <StackLayout class="form">
  <StackLayout class="inputStackLayout" orientation="horizontal">
   <Image src="res://password_key"  width="25" height="25" stretch="aspectFill"></Image>
    <TextField class="input signinupTextfield" hint="New Password" secure="true"  ></TextField>
  </StackLayout>

    <StackLayout class="inputStackLayout" orientation="horizontal">
   <Image src="res://password_key" width="25" height="25" stretch="aspectFill"></Image>
    <TextField class="input signinupTextfield" hint="New Password Confirmation" secure="true"  ></TextField>
  </StackLayout>

  <Button text="Reset Password" class="btnSignIn" style=" border-radius: 15"></Button>
</StackLayout>

 </StackLayout>
 </ScrollView>
