<ScrollView>
<StackLayout>
<FlexboxLayout justifyContent="space-between">
<Image src="res://back" width="30" height="30" style="margin-left: 20; margin-top: 20" [nsRouterLink]="['/home/dashboard']"></Image>
<label text="Notifications" style="font-size: 30;color: #005f86; margin-top: 10"></label>
<Image src="" width="20" height="25" ></Image>
</FlexboxLayout>
<FlexboxLayout  justifyContent="center">
<label text="Today" textWrap="true"  class="premiumTextBold"></label>
</FlexboxLayout>
<FlexboxLayout style="margin: 100;"></FlexboxLayout>
<FlexboxLayout  justifyContent="center" style="margin-top: 20;">
<label text="Yesterday" textWrap="true"  class="premiumTextBold"></label>
</FlexboxLayout>
<FlexboxLayout style="margin: 100;"></FlexboxLayout>
<FlexboxLayout  justifyContent="center" style="margin-top: 20;">
<label text="March 12, 2018" textWrap="true"  class="premiumTextBold"></label>
</FlexboxLayout>

</StackLayout>
</ScrollView>