.btnDone
 {
    font-size: 20;
    color: #005f86;
    background:white;
    border-radius: 10;
    border-width: 1;
    border-color: #888b8d;
    width: 45%;
    height: 50;
    text-transform: none;
    font-weight: 500;
    margin-top: 15;
 }
.faq
{
    margin-top: 10; 
    margin-left: 10;
    margin-right: 10;
    text-decoration: underline;
    font-size: 17;
    color: #888b8d;
}
.faq_tb
{
     margin-top: 10; 
    margin-left: 10;
    margin-right: 10;
    font-size: 17;
}
