<StackLayout>
<StackLayout  [nsRouterLink]="['/auth/signin']">
<Image src="res://back" width="30" height="30" style="margin-left: 20; margin-top: 20"></Image>
</StackLayout>
<StackLayout orientation="Horizontal"  style="horizontal-align:center;width:100%;margin-top: 55;">
  <Image src="res://password_key" width="70" height="70" stretch="aspectFill"></Image>
  <Image src="res://lock_grey" width="70" height="75"></Image>
</StackLayout>

 <Label text="Trouble signing in?" class="heading"></Label>
 <Label class="lbl fontten mar15" text="Enter your email address, and we'll send you a link to get back into your account." width="60%" textWrap="true"></Label>

 <StackLayout class="form">
  <StackLayout class="inputStackLayout" orientation="horizontal">
    <Image src="res://person_grey" width="30" height="30" stretch="aspectFill"></Image>
    <TextField class="input signinupTextfield" hint="Email" keyboardType="email"  #email="ngModel" [(ngModel)]="emailId" (focus)="emailInvalidStatus=false;emailRequired=false;" autocorrect="false" autocapitalizationType="none"  required></TextField>
  </StackLayout>
  <StackLayout *ngIf="email.errors && (email.dirty || email.touched) || emailRequired">
    <Label *ngIf="email.errors.required" text="Email is required" class="signinupLable" ></Label>
    </StackLayout>
    <StackLayout *ngIf="emailInvalidStatus">
    <Label [text]="emailInvalid" class="signinupLable"></Label>
    </StackLayout>
    
<Stacklayout style="margin-top:20;">
  <Button text="Send Link" class="btnSignIn" (tap)="sendlink()"></Button>
  </Stacklayout>
</StackLayout>

</StackLayout>