<Page loaded="loaded" height="50%" width="90%">
   <StackLayout class="modal-view-style modal"  verticalAlignment="top" >
   <FlexboxLayout justifyContent="space-between">
	<Image src="" width="20" height="20" ></Image>
	<Image src="" width="20" height="20" ></Image>
	<Image src="res://x_grey" width="40" height="30" style="margin:10;"(tap)="close()" ></Image>
	</FlexboxLayout>

	<FlexboxLayout>
	<label text="How do I send someone a request to join myNetwork? " textWrap="true" class="faqTextBold"></label>
	</FlexboxLayout>

  <FlexboxLayout>
  <label text="1.Click on the menu button (top right) " textWrap="true"  class="faqText"></label>
  </FlexboxLayout>

  <FlexboxLayout>
  <label text="2.Go to myNetwork ." textWrap="true"  class="faqText"></label>
  </FlexboxLayout>
  <FlexboxLayout>
  <label text="3.At the bottom of the screen, click the icon with the + sign and person.  " textWrap="true"  class="faqText"></label>
  </FlexboxLayout>
  <FlexboxLayout>
  <label text="4.Type in their contact information . " textWrap="true" class="faqText"></label>
  </FlexboxLayout>
  <FlexboxLayout>
  <label text="5.Send Request . " textWrap="true"  class="faqText"></label>
  </FlexboxLayout>
  
  </StackLayout>
   </Page>