
<StackLayout orientation="vertical" class="dt-layout">

  <FlexboxLayout orientation="horizontal" class="hdr__">
    <Image src="res://back"  width="30" height="30" style="margin-left: 10;" stretch="aspectFill" verticalAlignment="center" (tap)="goBack()"></Image>
    <Label text="My Injury" class="headingLabel" verticalAlignment="center"></Label>
    <FlexboxLayout class="_icn">
      <Image src="res://injury_grey" width="20" height="20"></Image>
    </FlexboxLayout>
  </FlexboxLayout>

  <StackLayout orientation="vertical" class="content__">
    <!-- <ScrollView class="con__" orientation="vertical" height="100%"> -->

      <StackLayout class="_space"></StackLayout>

      <Stacklayout class="_lbls">
        <Label text="Injury Level" class="_sub"></Label>
      </Stacklayout>

      <StackLayout height="500px" width="100%">
  
        <RadCartesianChart tkExampleTitle tkToggleNavButton class="chart" verticalAlignment="center">
          <CategoricalAxis tkCartesianHorizontalAxis></CategoricalAxis>
          <LinearAxis tkCartesianVerticalAxis></LinearAxis>
          <SplineSeries tkCartesianSeries [items]="graphData" categoryProperty="Day" valueProperty="InjuryLevel"></SplineSeries>
        </RadCartesianChart>
      </StackLayout>
  
    <StackLayout orientation="vertical" verticalAlignment="bottom"   class="_info">
      <StackLayout orientation="vertical">
      <Label text="Why do we monitor injury?" horizontalAlignment="center"></Label>
      <Image src="res://info_blue" width="20" height="20" horizontalAlignment="center" stretch="aspectFill"  (tap)="openInfo()"></Image>
      </StackLayout>
    </StackLayout>
  
    <FlexboxLayout orientation="horizontal" class="_actns" >
      <StackLayout class="stackWidth"  (tap)="trackStress()">
          <Image src="res://track_blue" stretch="aspectFill" horizontalAlignment="center"></Image>
          <Label text="Track Injury" class="trackLabel" horizontalAlignment="center"></Label>
      </StackLayout>
      <StackLayout class="stackWidth"  (tap)="stressPlaybook()"> 
          <Image src="res://playbook_blue" stretch="aspectFill" horizontalAlignment="center"></Image>
          <Label text="Playbook" class="trackLabel" horizontalAlignment="center"></Label>
      </StackLayout>
      <StackLayout class="stackWidth" (tap)="openNote()">
          <Image src="res://notebook_blue"   stretch="aspectFill" horizontalAlignment="center"></Image>
          <Label text="Make A Note" class="trackLabel" horizontalAlignment="center"></Label>
      </StackLayout>
    </FlexboxLayout>
  
  </StackLayout>
  
</StackLayout>
  