<Page loaded="loaded" height="45%" width="90%">
   <StackLayout class="modal-view-style modal"  verticalAlignment="top" >
   <FlexboxLayout justifyContent="space-between">
	<Image src="" width="20" height="20" ></Image>
	<Image src="" width="20" height="20" ></Image>
	<Image src="res://x_grey" width="40" height="30" style="margin: 10;"(tap)="close()" ></Image>
	</FlexboxLayout>

	<FlexboxLayout>
	<label text="What dictates what’s in my playbook?" textWrap="true"  class="faqTextBold"></label>
	</FlexboxLayout>

  <FlexboxLayout>
  <label text="Think of your playbook as your toolkit to managing your mental health. The recommendations in your playbook are specific to each data point and the status of the data point. When you need some ideas on how to move forward or improve your balance, visit your playbook. " textWrap="true"  style="font-size: 15;margin-left: 10;margin-top:15;"></label>
  </FlexboxLayout>

  


   </StackLayout>
   </Page>