.btnRefer
 {
    font-size: 20;
    color: #005f86;
    background:white;
    border-radius: 10;
    border-width: 1;
    border-color: #888b8d;
    width: 45%;
    height: 50;
    text-transform: none;
    font-weight: 500;
    margin-top: 15;
 }
 .bold_text_refer
{
    font-size: 15;
    margin-bottom: 20;
    margin-left: 20;
    margin-right: 20;
    text-align: center;
}
.color_blue{
    color:#005f86
}
.font-18{
    font-size: 18px;
}
.font-20{
    font-size: 20px;
}
.font-19{
    font-size: 19px;
}
.font-16{
    font-size: 16;
}
.padding-10{
    padding:15px;
}

.btnNetwork{
    border-radius: 30;
    font-size: 14;
    color: #005f86;
    background:white;
    border-width: 1;
    border-color: #888b8d;
    width: 50%;
    height: 40;
    font-weight: bold;
    margin-top:15;
    box-shadow: 0 2px 10px 0 #888b8d!important;
    
}
.color-grey{
	color:#6e6e6e;
}
.networkHeight{
	height: 40%;
}
.networkHeight1{
	height: 20%;
}

.input-field {
    margin-bottom: 25;
  }
  .input {
    font-size: 18;
    
  }
  .font-22{
      font-size: 22px;
  }