.practiceLabel {
  font-size: 31;
  color: #005f86;
  margin-top: 10;
  margin-left: 50;
  font-weight: bold;
}
.btnPractice {
  font-size: 20;
  color: white;
  background: #005f86;
  border-radius: 10;
  border-width: 1;
  border-color: #888b8d;
  height: 60;
  text-transform: none;
  font-weight: 500;
  margin-top: 30;
}
.btnSend {
  font-size: 20;
  color: #005f86;
  background:white;
  border-radius: 20;
  border-width: 1;
  border-color: #888b8d;
  width: 40%;
  height: 50;
  text-transform: none;
  font-weight: 500;
  //margin-top: 15
}
.sendLabel {
  text-align: center;
  color: #005f86;
  margin: 10;
  font-size: 20;
  font-weight: bold;
}
.line {
  border-width: 0 0 1 0;
  border-color: #000;
  margin-top: 20;
}
.line2 {
  border-width: 0 0 1 0;
  border-color: #000; 
  margin-top: 10;
  margin-left: 40;
}
.segmented-bar1 {
  selected-background-color: #0000FF;
  color: #0000FF;
  background-color: #f4faff;
  font-size: 20;
  width: 60%;
  margin-top: 10;
}