<Page loaded="loaded" height="57%" width="90%" class="faq-modal">
   <StackLayout class="faq-modal" verticalAlignment="top">
   <FlexboxLayout justifyContent="space-between">
	<Image src="" width="20" height="20" ></Image>
	<Image src="" width="20" height="20" ></Image>
	<Image src="res://x_grey" width="40" height="30" (tap)="close()" ></Image>
	</FlexboxLayout>

	<FlexboxLayout>
	<label text="How do I upgrade to premium?" textWrap="true"  class="faqTextBold"></label>
	</FlexboxLayout>

  <FlexboxLayout>
  <label text="1.Click on menu button.(Top right) " textWrap="true"  class="faqText"></label>
  </FlexboxLayout>

  <FlexboxLayout>
  <label text="2.Click on upgrade to premium " textWrap="true"  class="faqText"></label>
  </FlexboxLayout>
  <FlexboxLayout>
  <label text="OR  " textWrap="true" class="faqText"></label>
  </FlexboxLayout>
  <FlexboxLayout>
  <label text="1.Click on menu button.(Top right)  " textWrap="true" class="faqText"></label>
  </FlexboxLayout>
  <FlexboxLayout>
  <label text="2.Goto setting  " textWrap="true"  class="faqText"></label>
  </FlexboxLayout>
  <FlexboxLayout>
  <label text="3.Scroll down to account setting " textWrap="true" class="faqText"></label>
  </FlexboxLayout>
  <FlexboxLayout>
  <label text="4.Turn on switch for upgrade to premium. " textWrap="true"  class="faqText"></label>
  </FlexboxLayout>
  


   </StackLayout>
   </Page>