.faq-modal{border-radius:15;border:2 solid blue}.faqText{font-size:15;margin-left:10;margin-top:15;color:#888b8d}.faqTextBold{font-size:15;margin-left:10;margin-top:15;font-weight:bold;color:#888b8d}
