<Page loaded="loaded" height="50%" width="90%">
   <StackLayout class="modal-view-style modal"  verticalAlignment="top" >
   <FlexboxLayout justifyContent="space-between">
	<Image src="" width="20" height="20" ></Image>
	<Image src="" width="20" height="20" ></Image>
	<Image src="res://x_grey" width="40" height="30" style="margin: 10;"(tap)="close()" ></Image>
	</FlexboxLayout>

	<FlexboxLayout>
	<label text="How do I change the share settings for someone in myNetwork? " textWrap="true"  class="faqTextBold"></label>
	</FlexboxLayout>

  <FlexboxLayout>
  <label text="1.Click on the menu button (top right)." textWrap="true"  class="faqText"></label>
  </FlexboxLayout>

  <FlexboxLayout>
  <label text="2.Go to myNetwork . " textWrap="true"  class="faqText"></label>
  </FlexboxLayout>
  <FlexboxLayout>
  <label text="3.Click on a person to expand share settings." textWrap="true" class="faqText"></label>
  </FlexboxLayout>
  <FlexboxLayout>
  <label text="4.Flip the share switches on and off to customize settings. " textWrap="true"  class="faqText"></label>
  </FlexboxLayout>
  
  


   </StackLayout>
   </Page>