<Page loaded="loaded" height="45%" width="90%">
   <StackLayout class="modal-view-style modal"  verticalAlignment="top" >
   <FlexboxLayout justifyContent="space-between">
	<Image src="" width="20" height="20" ></Image>
	<Image src="" width="20" height="20" ></Image>
	<Image src="res://x_grey" width="40" height="30" style="margin: 10;"(tap)="close()" ></Image>
	</FlexboxLayout>

	<FlexboxLayout>
	<label text=" How do I export my data to someone in myNetwork? " textWrap="true" class="faqTextBold"></label>
	</FlexboxLayout>

  <FlexboxLayout>
  <label text="1.From your dashboard, click on the download icon (blue arrow) . " textWrap="true"  class="faqText"></label>
  </FlexboxLayout>

  <FlexboxLayout>
  <label text="2.Choose to send PDF or CSV file . " textWrap="true"  class="faqText"></label>
  </FlexboxLayout>
  <FlexboxLayout>
  <label text="3.Select individuals you would like to send file to .  " textWrap="true"  class="faqText"></label>
  </FlexboxLayout>
  
  


   </StackLayout>
   </Page>