<Page loaded="loaded" height="50%" width="90%">
   <StackLayout class="modal-view-style modal"  verticalAlignment="top" >
   <FlexboxLayout justifyContent="space-between">
	<Image src="" width="20" height="20" ></Image>
	<Image src="" width="20" height="20" ></Image>
	<Image src="res://x_grey" width="40" height="30" style="margin: 10;"(tap)="close()" ></Image>
	</FlexboxLayout>

	<FlexboxLayout>
	<label text="How can I earn a free month of premium?" textWrap="true"  class="faqTextBold"></label>
	</FlexboxLayout>

  <FlexboxLayout>
  <label text="To earn a free month of premium, you have to earn Balance Rewards Points. Earn points by tracking your data every day, practicing mindfulness every day, referring friends to use the app, adding people to your network, and completing mindfulness programs." textWrap="true"  style="font-size: 15;margin-left: 10;margin-top:15;"></label>
  </FlexboxLayout>

  <FlexboxLayout>
  <label text="Basically, the more work you put in to take care of yourself, the more points you’ll earn! " textWrap="true" class="faqText"></label>
  </FlexboxLayout>
  
  


   </StackLayout>
   </Page>