.quote
{
    font-size:18;
    color:#888b8d;
    margin-left:20px;
    margin-right:20px;
}

.author
{
    font-size:17;
    color:#888b8d;
    margin-left:20px;
    margin-right:20px;
    margin-top:15px;
    font-weight: bold;
}

.nextButton
{
    margin-right:20px;
    margin-bottom:60px;
}