<StackLayout orientation="vertical">
        <GridLayout class="quoteGrid">
                <StackLayout verticalAlignment="center">
                        <Label [text]="currentQuote.quoteText" textWrap="true" class="quote"></Label>
                        <Label [text]="currentQuote.author" textWrap="true" horizontalAlignment="right" class="author" ></Label>
                </StackLayout>

                <Image src="res://blue_right_arrow" width="30" height="30" verticalAlignment="bottom" horizontalAlignment="right"
                        (tap)="next()" class="nextButton"></Image>

        </GridLayout>
</StackLayout>