<Page loaded="loaded" height="40%" width="90%">
   <StackLayout class="modal-view-style modal"  verticalAlignment="top" >
   <FlexboxLayout justifyContent="space-between">
	<Image src="" width="20" height="30" ></Image>
	<Image src="" width="20" height="30" ></Image>
	<Image src="res://x_grey" width="40" height="30" (tap)="close()" ></Image>
	</FlexboxLayout>

	<FlexboxLayout flexDirection="column">
	<label text="Your Account has been deactivated" class="bold_text" textWrap="true"  ></label>
  <label text="We wish you continued wellness, balance and happiness. Hopefully, we'll see you again in near future." textWrap="true" class="bold_text" ></label>
  <label text="-  The Balance Position team" textWrap="true" class="bold_text" ></label>
	</FlexboxLayout>

   </StackLayout>
   </Page>