<Page loaded="loaded" height="60%" width="90%">
   <StackLayout class="modal-view-style modal"  verticalAlignment="top" >
   <FlexboxLayout justifyContent="space-between">
	<Image src="" width="20" height="20" ></Image>
	<Image src="" width="20" height="20" ></Image>
	<Image src="res://x_grey" width="40" height="30" style="margin: 10;"(tap)="close()" ></Image>
	</FlexboxLayout>

	<FlexboxLayout>
	<label text="How do I deactivate my account?" textWrap="true" class="faqTextBold"></label>
	</FlexboxLayout>

  <FlexboxLayout>
  <label text="A piece of our heart breaks when we see a user go, but we support you doing what’s best for you!  " textWrap="true" class="faqText"></label>
  </FlexboxLayout>

  <FlexboxLayout>
  <label text="1.Click on the menu button (top right)" textWrap="true"  class="faqText"></label>
  </FlexboxLayout>
  <FlexboxLayout>
  <label text="2.Go to settings ." textWrap="true" class="faqText"></label>
  </FlexboxLayout>
  <FlexboxLayout>
  <label text="3.Scroll down to Account Settings and click on Deactivate Account." textWrap="true"  class="faqText"></label>
  </FlexboxLayout>
  <FlexboxLayout>
  <label text="You can always reactivate your account when you’re ready to come back!  " textWrap="true"  class="faqText"></label>
  </FlexboxLayout>
  


   </StackLayout>
   </Page>