.segmented-bar {
            selected-background-color: #FFF;
            color: #005f86;
            background-color: #FFF;
            font-size: 10;
            width: 70%;
            margin-top: 10;
            font-size: 15;
        }
.line
{
border-width: 0 0 1 0;
border-color: #000; 
margin-top: 20;
}
.line2
{
border-width: 0 0 1 0;
border-color: #000; 
margin-top: 10;
margin-left: 50;
}

.lines
{
border-width: 0 0 1 0;
border-color: #000; 
margin-top: 20;
}
.lines2
{
border-width: 0 0 1 0;
border-color: #000; 
margin-top: 10;
margin-left: 50;
}

